.row {
  align-items: center;
  overflow: hidden;
  min-width: 374px;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 34px;

  margin-top: 66px;

  @media (max-width: 992px) and (min-width: 768.99px) {
    margin-top: 56px;
  }

  &--mobile {
    gap: 17px;
    padding: 0px 17px;
    margin-top: 33px;
  }
}
