/* montserrat-regular - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./montserrat-v15-latin_cyrillic-ext_cyrillic-regular.eot');
  src: local(''),
    url('./montserrat-v15-latin_cyrillic-ext_cyrillic-regular.eot?#iefix')
      format('embedded-opentype'),
    url('./montserrat-v15-latin_cyrillic-ext_cyrillic-regular.woff2')
      format('woff2'),
    url('./montserrat-v15-latin_cyrillic-ext_cyrillic-regular.woff')
      format('woff'),
    url('./montserrat-v15-latin_cyrillic-ext_cyrillic-regular.ttf')
      format('truetype'),
    url('./montserrat-v15-latin_cyrillic-ext_cyrillic-regular.svg#Montserrat')
      format('svg');
}
@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-Bold.eot');
  src: url('./Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('./Montserrat-Bold.woff2') format('woff2'),
    url('./Montserrat-Bold.woff') format('woff'),
    url('./Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
