$black: #252424;
$shadow: #131313;
$purple: #7a0bc0;
$blue: #0b8ac0;
$pink: #e105e5;
$light-pink: #ffe9f6;
$white: #ffffff;

$font-family: 'Montserrat', Arial, Helvetica, sans-serif;
$font-style: normal;
$font-weight: 400;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
