.slider {
  height: 56.4vh;
  margin-right: 30px;

  position: relative;
  background-image: url('../../assets/img/slide-background.svg');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;

  @media (max-width: 992px) and (min-width: 768.99px) {
    height: 37vh;
    margin-right: 20px;
  }
  @media (max-width: 768px) {
    height: 33vh;
    margin-top: 1em;
    background-position: center center;
  }
}

.item {
  position: absolute;
  width: 65%;
  height: 100%;

  top: -6px;
  left: 161px;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: all 1s ease;
  transform-origin: 300px -30px;

  @media (max-width: 1200px) and (min-width: 991.99px) {
    width: 71%;
    top: 0px;
    left: 72px;
  }
  @media (max-width: 992px) and (min-width: 768.99px) {
    width: 71%;
    top: 0px;
    left: 72px;
  }
  @media (max-width: 768px) and (min-width: 451.99px) {
    width: 52%;
    top: -4px;
    left: 114px;
  }
  @media (max-width: 450px) {
    transform-origin: 200px -30px;
    width: 71%;
    top: -4px;
    left: 65px;
  }

  &:first-child {
    background-image: url('../../assets/img/gift1.png');
    transform: rotate(0deg);
  }
  &:nth-child(2) {
    background-image: url('../../assets/img/gift2.png');
    transform: rotate(120deg);
  }
  &:nth-child(3) {
    background-image: url('../../assets/img/gift3.png');
    transform: rotate(240deg);
  }

  &:first-child.active1 {
    opacity: 1;
  }
  &:nth-child(2).active3 {
    opacity: 1;
  }
  &:nth-child(3).active2 {
    opacity: 1;
  }
}

.btn {
  width: 25%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url(../../assets/img/arrow-nav.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  flex-shrink: 0;
  transition: all 1s ease;

  @keyframes trambling-animation {
    0%,
    50%,
    100% {
      transform: rotate(0deg);
    }
    10%,
    30% {
      transform: rotate(-10deg);
    }
    20%,
    40% {
      transform: rotate(10deg);
    }
  }

  &:hover {
    animation: 1.2s ease-in-out 0s normal none infinite running
      trambling-animation;
  }

  &--rotate {
    transform: rotate(180deg);

    @keyframes trambling-animation-rotate {
      0%,
      50%,
      100% {
        transform: rotate(180deg);
      }
      10%,
      30% {
        transform: rotate(170deg);
      }
      20%,
      40% {
        transform: rotate(190deg);
      }
    }

    &:hover {
      animation: 1.2s ease-in-out 0s normal none infinite running
        trambling-animation-rotate;
    }
  }

  &__wrap {
    width: 22%;
    height: 48px;
    position: absolute;
    bottom: 8px;
    left: 22%;
    transition: all 1s ease;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 992px) and (min-width: 768.99px) {
      width: 24%;
      left: 15%;
      bottom: 0;
      height: 30.74px;
    }
    @media (max-width: 768px) {
      width: 24%;
      height: 30px;
      bottom: 4px;
      left: 16%;
    }
  }
}
